#slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#newsSlider {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

#newsSlider::-webkit-scrollbar {
    display: none;
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #3968DA;
    background-color: #E5E7EB;
    margin-left: -20px;
    padding-left: 30px; 
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    border-radius: 0 15px 15px 0;
}

.nav-link.active {
    background-color: #3968DA;
    color: white;
    margin-left: -20px;
    padding-left: 30px; 
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    border-radius: 0 15px 15px 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaderboard-badge {
    background: linear-gradient(135deg, #3968DA, #7D9BF2);
    color: white;
}

.news-card h4, .donasi-card h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Batasi hanya 2 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voucher-card h4, .sembako-card h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Batasi hanya 2 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voucher-card p, .sembako-card p {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Batasi hanya 2 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.donasi-terkumpul {
    white-space: nowrap; /* Menjaga teks tetap dalam satu baris */
    overflow: hidden;    /* Menyembunyikan teks yang meluap */
    text-overflow: ellipsis; /* Menambahkan elipsis (…) jika teks terlalu panjang */
}